body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.header {
    background: #007bff;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.auth-buttons button {
    margin: 10px;
    padding: 10px;
    background: white;
    border: none;
    cursor: pointer;
}
.buttons button {
    margin: 5px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
#register {
    border-radius: 10px;
}
#login {
    border-radius: 10px;
}
